NODE_ENV=development
PORT=4000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=neobuy
DB_PASSWORD=change_me
DB_NAME=neobuy

JWT_SECRET=change_me_in_production

# Background Task Scheduling System Configurations
CRON_ENABLED=true
CRON_LOGGING_ENABLED=true
